.App {
  text-align: center;
}

.App-logo {
  height: 60px;
  margin: 20px;
}

.App-title {
  padding-top: 20px;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.metadataCard {
  background-color: LightGrey;
  margin-right: 20px;
}

.TareasCard {
  display: flex;
}

.tareasFolder {
  display: flex;
  width: 180px;
  margin: 6px;
  border: groove;
}

.tareasFolderImage {
  height: 20px;
  width: 20px;
  padding-right: 8px;
}

.tareasList {
  width: 500px;
}

.TareasHeader {
  display: flex;
  background-color: lightBlue;
  margin-bottom: 10px;
}

.TareasListItem {
  background-color: lightGrey;
}

.TareasListItemId {
  padding-right: 4px;
}

.TareasListItemOwner {
  padding-right: 4px;
}

.TareasListItemTitle {
  padding-right: 4px;
}

.TareasListItemStatus {
  padding-right: 4px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
